@model IEnumerable<LibraryMVC.Models.UserDto>

<h1>Hello admin</h1>
<partial name="_TempDataView" />
<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email adress
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <button class="btn btn-warning me-3 py-1 px-3"> <a class="link-light text-decoration-none" asp-action="Books" asp-route-id="@item.Id">Show books</a></button>
                        </td>
                    </tr>
        }
    </tbody>
</table>
