@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the LibraryMVC project</h1>
    <h3>Click the Library button at the top to browse available books.</h3>
</div>
